@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUserEntity> signInManager

<aside id="aside-menu">
    <a class="logo" href="@Url.Content("~/")">
        <img src="@Url.Content("~/images/ventixe-logo.svg")" alt="Ventixe logo" />
        <span>Ventixe</span>
    </a>

    <nav class="sidebar-navigation">
        <ul>
            <li>
                <a class="@(Context.Request.Path == "/" ? "active" : "")" asp-controller="Dashboard" asp-action="Index">
                    <span class="material-symbols-rounded">
                        grid_view
                    </span>
                    <span>Dashboard</span>
                </a>
            </li>

            <li>
                <a class="@(Context.Request.Path == "/bookings" ? "active" : "")" asp-controller="Bookings" asp-action="Index">
                    <span class="material-symbols-rounded">
                        check_box
                    </span>
                    <span>Bookings</span>
                </a>
            </li>

            <li>
                <a class="@(Context.Request.Path == "/event" ? "active" : "")" asp-controller="Event" asp-action="Index">
                    <span class="material-symbols-outlined">
                        local_activity
                    </span>
                    <span>Events</span>
                </a>
            </li>
            <li>
                <a class="@(Context.Request.Path == "/invoice" ? "active" : "")" asp-controller="Invoice" asp-action="Index">
                    <span class="material-symbols-outlined">
                        order_approve
                    </span>
                    <span>Invoices</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">
                        drafts
                    </span>
                    <span>Inbox</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">
                        calendar_month
                    </span>
                    <span>Calender</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">
                        paid
                    </span>
                    <span>Financials</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">
                        imagesmode
                    </span>
                    <span>Gallery</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="material-symbols-outlined">
                        star
                    </span>
                    <span>Feedback</span>
                </a>
            </li>
        </ul>
    </nav>


    <div class="sidebar-bottom">
        <a asp-controller="Profile" asp-action="Index" class="btn btn-secondary sidebar-btn sidebar-settings">
            <span class="material-symbols-rounded">
                settings
            </span>
            <span>Settings</span>
        </a>

        @if (signInManager.IsSignedIn(User))
        {
            <a asp-controller="Auth" asp-action="SignOut" class="btn btn-secondary sidebar-btn">
                <span class="material-symbols-rounded">
                    logout
                </span>
                <span>
                    Sign out
                </span>
            </a>
        }
        else
        {
            <a asp-controller="Auth" asp-action="SignIn" class="btn btn-secondary logout-btn">
                <span class="material-symbols-rounded">
                    login
                </span>
                <span>
                    Sign in
                </span>
            </a>
        }
    </div>
</aside>
